<section id="product-imports-intro">
  <h1>Product Import / Export Main Page</h1>

  <div class="intro">
    Click below to proceed to the Product Import Main Page<br>
    <%= link_to "Product Import Main Page", sample_import_admin_product_imports_path, class: "btn btn-default btn-primary" %>
    <br><br>
  </div>


  <div class="verification-links">
    <div class="row">
      <div id="clear-product-data" class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">
              Verify Imported Data
            </h1>
          </div>
          <div class="panel-body">
            <%= link_to "Verify #{Spree::Variant.count} Variants of #{Spree::Product.count} Products Here", admin_products_path %>
            <br />
            <br />
            <%= link_to "Verify Option Types", admin_option_types_path %>
            <br />
            <%= link_to "Verify Option Values", admin_option_types_path %>
            <br />
            <%= link_to "Verify Shipping Categories", admin_shipping_categories_path %>
            <br />
            <%= link_to "Verify Tax Categories", admin_tax_categories_path %>
            <br />
            <%= link_to "Verify Stock Movements", admin_stock_locations_path %>
            <br />
            <%= link_to "Verify Product Properties", admin_properties_path %>
            <br />
            <%= link_to "Verify Taxonomies", admin_taxonomies_path %>
            <br />
            <%= link_to "Verify Taxons", admin_taxons_path %>
          </div>
          <div class="panel-footer">
            Use the above links to click over to the product pages to verify the most recent import
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <div>
    <div class="row">
      <div id="export-product-data" class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">
              Export Product Data
            </h1>
          </div>
          <div class="panel-body">
            <div class="col-sm-6">
              <%= button_link_to Spree.t('actions.export'), spree.new_admin_product_export_url, icon: 'export', class: 'btn-primary', data: { action: 'export' } %>
            </div>
            <div class="col-sm-6 right">
              <div class="hidden spinner">Loading</div>
            </div>
          </div>
          <div class="panel-footer">
            Exports current product variants in csv format.
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <%= render partial: "clear_product_data" unless Rails.env.production? %>
  
  
</section>